/* dark green: #032d2e; */
/* green: #015852; */
/* white: #F2F2F0; */
/* orange: #D2AC2F; */
/* peach: #BF9266; */
/* red: #BF5A57; */

/* title font: font-family: "Rubik", sans-serif; */
/* copy font: font-family: "Roboto Mono", monospace; */

/* GENERAL SETUP */
body {
  background-color: #032d2e;
  color: #f2f2f0;
}

h1 {
  font-size: 4rem;
}

h2 {
  color: #015852;
  font-size: 3.5rem;
  font-family: "Rubik", sans-serif;
  letter-spacing: 3rem;
}

p,
li {
  font-size: 1.5rem;
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  color: #d2ac2f;
}

a:hover {
  color: #bf9266;
}

.btn {
  border-radius: 3px;
  background: #015852;
  border: none;
  color: #bf5a57;
  font-family: "Roboto Mono", monospace;
  padding: 10px;
}

.btn:hover {
  border-radius: 3px;
  background: #015852;
  border: none;
  color: #d2ac2f;
  font-family: "Roboto Mono", monospace;
  padding: 10px;
}

hr {
  border: 1px solid #015852;
}

.back {
  font-size: 1rem;
}

/* COMPONENT - APP */
.App {
  margin: 1% 3%;
}

.App footer {
  font-size: 0.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* COMPONENT - HEADER */
.Header {
  display: flex;
  justify-content: space-between;
}

.Header h1 {
  font-family: "Rubik", sans-serif;
  color: #d2ac2f;
  font-weight: bolder;
}

.Header h1 a {
  font-family: "Rubik", sans-serif;
  color: #d2ac2f;
  font-weight: bolder;
  font-size: 4rem;
}

.Header ul {
  list-style: none;
  /* display: flex; */
  margin-top: 50px;
}

.Header li {
  list-style: none;
  margin-right: 20px;
}

.Header-login {
  margin: 50px 10px 0 0px;
}

.Header a {
  font-size: 1rem;
}

.Header a:hover {
  color: #d2ac2f;
}

/* COMPONENT - MENU */
.Menu {
  margin: 50px 10px 0 0px;
}

.Menu a {
  font-size: 1rem;
  color: #015852;
}

.Menu a:hover {
  color: #d2ac2f;
}

/* COMPONENT - NAVIGATION */
.Navigation {
  margin-top: -20px;
  border-top: 1px solid #015852;
  border-bottom: 1px solid #015852;
}

.Navigation ul {
  display: flex;
  justify-content: space-around;
}

.Navigation li {
  color: #d2ac2f;
  font-size: 2rem;
  list-style: none;
  margin-right: 20px;
}

/* COMPONENT - LANDING */
.Landing {
  margin-bottom: 50px;
}

/* COMPONENT - DASHBOARD  */
.Dashboard {
  font-family: "Roboto Mono", monospace;
}

.Dashboard h1 {
  font-size: 1.5rem;
}

/* COMPONENT - TRAILS */
.Trails {
}

/* COMPONENT - TRAILNEW  */

/* COMPONENT - TRAILFORM */
.TrailForm-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
}

/* COMPONENT - TRAILFIELD */

/* COMPONENT - WIZARDFORM */
.WizardForm {
  text-align: center;
  margin-top: 30px;
}

.WizardForm-title {
  text-align: left;
}

.WizardForm button {
  margin: 5px;
  background: transparent;
  border: 1px solid #d2ac2f;
  color: #d2ac2f;
  font-family: "Roboto Mono", monospace;
}

.WizardForm button:hover {
  border: 1px solid #bf9266;
  color: #bf9266;
}

/* COMPONENT - RENDERFIELD */
label {
  display: block;
  font-family: "Roboto Mono", monospace;
  padding: 5px;
  color: #015852;
}

input {
  margin: 5px;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  width: 50%;
  height: 20px;
}

textarea {
  margin: 5px;
  background: transparent;
  border: 1px solid white;
  color: white;
  width: 50%;
  height: 50px;
}

.validation-error {
  font-family: "Roboto Mono", monospace;
  color: #bf5a57;
  font-size: 0.5rem;
}

/* COMPONENT - TRAILFORMREVIEW */
.TrailFormReview {
  margin-top: 30px;
}

.TrailFormReview-field {
  margin-top: 30px;
}

.TrailFormReview label {
  color: #015852;
}

.TrailFormReview p {
  margin: 5px;
  font-size: 1rem;
}

.TrailFormReview button {
  margin: 5px;
  background: transparent;
  border: 1px solid #d2ac2f;
  color: #d2ac2f;
  font-family: "Roboto Mono", monospace;
}

.TrailFormReview button:hover {
  border: 1px solid #bf9266;
  color: #bf9266;
}

/* COMPONENT - TRAILLIST */
.TrailList {
  display: flex;
}

.TrailList-trail {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #015852;
}

.TrailList-trail:hover {
  background: #d2ac2f;
}

.TrailList-trailElevation {
  font-size: 0.5rem;
  color: #015852;
}
