/* dark green: #032d2e; */
/* green: #015852; */
/* white: #F2F2F0; */
/* orange: #D2AC2F; */
/* peach: #BF9266; */
/* red: #BF5A57; */

/* title font: font-family: "Rubik", sans-serif; */
/* copy font: font-family: "Roboto Mono", monospace; */

/* GENERAL SETUP */
body {
  background-color: #032d2e;
  color: #f2f2f0;
}

h1 {
  font-size: 4rem;
}

p,
li {
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  color: #bf5a57;
}

a:hover {
  color: #d2ac2f;
}

.btn {
  border-radius: 3px;
  background: #015852;
  border: none;
  color: #bf5a57;
  font-family: "Roboto Mono", monospace;
  padding: 10px;
}

.btn:hover {
  border-radius: 3px;
  background: #015852;
  border: none;
  color: #d2ac2f;
  font-family: "Roboto Mono", monospace;
  padding: 10px;
}

/* COMPONENT - APP */
.App {
  margin: 1% 3%;
}

.App footer {
  font-size: 0.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* COMPONENT - HEADER */
.Header {
  display: flex;
  justify-content: space-between;
}

.Header h1 {
  font-family: "Rubik", sans-serif;
  color: #d2ac2f;
  font-weight: bolder;
}

.Header ul {
  list-style: none;
  display: flex;
  margin-top: 50px;
}

.Header li {
  margin-right: 20px;
}
